.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20rem;
  }
  
.feed__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}
  
.feed__item:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .feed {
    grid-gap: 0.5rem;
  }
  .feed__item {
    transform: scale(1); /* Reset transform on feed items for smaller screens */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .feed {
    grid-gap: 0.5rem;
  }
  .feed__item {
    transform: scale(1.02); /* Slightly adjust the transform on feed items */
  }
}
