/* Newarrival styles */
.newarrival {
  padding: 1rem;
  margin: 0rem;
}

.product-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 5px solid var(--color-primary);
  padding: .5rem;
  box-sizing: border-box;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}

.product-name {
  margin-top: 10px;
}
