.about {
  margin: 0rem;
}

.about__content{
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.about .logo img {
  width: 600px;
  height: auto;
  margin-top: -1rem;
  margin-bottom: -2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* .testimonials {
  margin-top: 1rem;
}

.testimonials div {
  margin-bottom: 1rem;
}

.testimonials p:last-child {
  font-style: italic;
}
 */

 @media (max-width: 768px) {
  .about__content {
    flex-direction: column-reverse;
  }

  .about .logo img {
    max-width: 300px; /* Adjust the logo size for smaller screens */
    margin-top: -0.5rem;
    margin-bottom: -1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about__content {
    flex-direction: row; /* Restore original layout for wider screens */
  }

  .about .logo img {
    width: 50%; /* Adjust the logo width for wider screens */
    max-width: 400px; /* Set a larger maximum width */
    margin-top: -0.5rem;
    margin-bottom: -1rem;
  }

  h1 {
    font-size: 2rem; /* Slightly increase the font size */
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.3rem; /* Slightly increase the font size */
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }
}
