.about {
  margin: 0rem;
}

.about__content{
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.about .logo img {
  width: 600px;
  height: auto;
  margin-top: -1rem;
  margin-bottom: -2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* .testimonials {
  margin-top: 1rem;
}

.testimonials div {
  margin-bottom: 1rem;
}

.testimonials p:last-child {
  font-style: italic;
}
 */

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}