/* Header styles */
.header {
  text-align: center;
  padding: 40px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  margin-bottom: 20px;
}

.ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ad-container img {
  width: 200px;
  height: auto;
  margin: 0 10px;
}

.header .button{
  color: var(--color-primary);
  padding: 10px 20px;
  background: var(--color-secondary);
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.header .button:hover {
  color: var(--color-secondary);
  background: var(--color-primary);
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .header h1 {
    font-size: 28px;
    margin-bottom: 0.5rem;
  }

  .header p {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .ad-container img {
    max-width: 150px; /* Adjust ad image size for smaller screens */
    margin: 0 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 30px; /* Increase padding for wider screens */
  }

  .header h1 {
    font-size: 40px; /* Slightly increase font size */
    margin-bottom: 1rem;
  }

  .header p {
    font-size: 18px; /* Slightly increase font size */
    margin-bottom: 1.5rem;
  }

  .ad-container img {
    max-width: 180px; /* Adjust ad image size for wider screens */
    margin: 0 10px;
  }
}
