/* Header styles */
.header {
  text-align: center;
  padding: 40px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  margin-bottom: 20px;
}

.ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ad-container img {
  width: 200px;
  height: auto;
  margin: 0 10px;
}

.header .button{
  color: var(--color-primary);
  padding: 10px 20px;
  background: var(--color-secondary);
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.header .button:hover {
  color: var(--color-secondary);
  background: var(--color-primary);
}
